<script>
$(document).ready(function(){
	var number = <%= @number.number %>;
	var mapping_div = {0:'r1c1', 1:'r1c2', 2:'r1c3', 3:'r1c4', 4:'r1c5', 5:'r1c6', 6:'r2c1', 7:'r2c2', 8:'r2c3', 9:'r2c4', 10:'r2c5'};
	var mapping_numbers = {0:'ZERO', 1:'ONE', 2:'TWO', 3:'THREE', 4:'FOUR', 5:'FIVE', 6:'SIX', 7:'SEVEN', 8:'EIGHT', 9:'NINE', 10:'TEN'}
	$("#"+mapping_div[number]).append('<p class="new_number">'+mapping_numbers[number]+'</p>');
	$("#"+mapping_div[number]).css({'background-color': '#FF0000'});
	
});

</script>

<div id="content">
	<div id="r1c1" class="row1">
	</div>
	<div id="r1c2" class="row1">
	</div>
	<div id="r1c3" class="row1">
	</div>				
	<div id="r1c4" class="row1">
	</div>
	<div id="r1c5" class="row1">
	</div>
	<div id="r1c6" class="row1">
	</div>
	<div id="r2c1" class="row2">
	</div>
	<div id="r2c2" class="row2">
	</div>
	<div id="r2c3" class="row2">
	</div>
	<div id="r2c4" class="row2">
	</div>
	<div id="r2c5" class="row2">
	</div>
	<div id="community_r2c6" class="row2">
		<ul id="tabs">
			<% if current_user %>
				<%= link_to "Sign out", signout_path %>
			<% else %>
				<%= link_to "Sign in with FB", "/auth/facebook"%>
			<% end %>
			<li style="text-decoration: line-through; color: #000000">Archive</li>
			<li style="text-decoration: none"><%= link_to "About", users_about_path %></li><br/>
			<li style="text-decoration: underline"></li>
		</ul>	
		Like button
	</div>
	<div id="new_r3c1" class="row3">
		INSIDE THE SYNESTHETE’S
		MIND, IF ONE ATTRIBUTE
		WERE ALWAYS CONSISTENT IT
		IS GENDER.
	</div>
	<div id="new_r3c2" class="row3">
		AFTER ALL, EVEN NUMBERS
		COULD BE QUANTIFIED WITH
		NUMBERS.
	</div>
	<div id="new_r3c3" class="row3">
		WITHIN PERSONIFICATION, 
		OLP, SYNESTHESIA, NUMBERS
		ARE LIKE HUMAN BEINGS WITH
		DIFFERENT TEMPERAMENTS.
	</div>
	<div id="new_r3c4" class="row3">
		COLOR IDENTIFICATION IS
		THE PROMINENT ATTRIBUTE
		AMONG SYNESTHETES.
	</div>
	<div id="new_r3c5" class="row3">
		NUMBERS HAVE A COMMUNITY
		WHERE THEY INTERACT AND
		FORM RELATIONSHIPS WITH
		ONE ANOTHER.
	</div>
	<div id="new_r3c6" class="row3">
		<span class="community_instructions">
		<span style="color: #000000">1. <u>CHOOSE</u> A NUMBER LISTED
		IN THE FIRST TWO ROWS.</span><br/><br/>
		<span style="color: #FF0000">2. <u>ASSIGN</u> SEEMLY SUITABLE
		ATTRIBUTES TO THE NUMBER.</span><br/><br/>
		<span style="color: #000000">3. <u>CONTINUE</u> THE SAME WITH
		OTHER NUMBERS OR <u>FINISH</u>
		YOUR CONTRIBUTION.</span>
		</span>
	</div>	
	<div id="number_edit_r4c123456">
		<%= render 'form' %>
	</div>	
</div>





