<script>
function checkUS() {
	alert('hi');
	$('#user_state').css('visibility','hidden');
}

</script>
<% occupation_types = ["Administrative/Secretarial", "Art/Design/Creative/Performance", "Executive/Management", "Financial/Accounting/Real Estate", "Labor/Construction", "Legal", "Medical/Dental/Veterinary/Fitness", "Political/Govt/Civil Service", "Retail/Food Services", "Sales/Marketing", "Self-Employed/Entrepreneur", "Education/Teacher/Professor", "Technical/Science/Computers/Engineering", "Travel/Hospitality/Transportation", "Nonprofit/Volunteer/Activist", "Law enforcement/Security/Military", "Fashion/Model/Beauty", "Architecture/Interior Design"] %>

<% gender_types = ["male"], ["female"] %>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<br/>
  <div class="field">
  	<span style="color:#000000"><u><%= f.label :country, "Country" %></u></span> <%= f.country_select(:country, "US") %>
  </div>
  <div id="user_state">
  	<span style="color:#000000"><u><%= f.label :state, "State" %></u></span> <%= f.state_select(:state) %>
  </div>
  <div class="field">
    <span style="color:#000000"><u><%= f.label :occupation %></u></span>
	<%= f.select  :occupation, options_for_select(occupation_types) %>
  </div>
	<%= f.hidden_field :email %>
	<%= f.hidden_field :name %>
	<%= f.hidden_field :age %>
	
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
