<% occupation_types = ["Administrative/Secretarial", "Art/Design/Creative/Performance", "Executive/Management", "Financial/Accounting/Real Estate", "Labor/Construction", "Legal", "Medical/Dental/Veterinary/Fitness", "Political/Govt/Civil Service", "Retail/Food Services", "Sales/Marketing", "Self-Employed/Entrepreneur", "Education/Teacher/Professor", "Technical/Science/Computers/Engineering", "Travel/Hospitality/Transportation", "Nonprofit/Volunteer/Activist", "Law enforcement/Security/Military", "Fashion/Model/Beauty", "Architecture/Interior Design"] %>

<% gender_types = ["male"], ["female"] %>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br />
	<%= f.select  :occupation, options_for_select(occupation_types) %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
	<%= f.select :gender, options_for_select(gender_types) %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
