<div id="content">
	<div <%= @usernumbers.include?(0) ? "id='community_r1c1_edit'" : "id='community_r1c1'" %> class="row1" onclick="location.href='<%= @usernumbers.include?(0) ? edit_number_path(0) : new_number_path(0) %>';" style="cursor:pointer;">
		<p <%= @usernumbers.include?(0) ? "class='community_number_edit'" : "class='community_number'"%>>ZERO</p>
	</div>
	<div <%= @usernumbers.include?(1) ? "id='community_r1c2_edit'" : "id='community_r1c2'" %> class="row1" onclick="location.href='<%= @usernumbers.include?(1) ? edit_number_path(1) : new_number_path(1) %>';" style="cursor:pointer;">
		<p <%= @usernumbers.include?(1) ? "class='community_number_edit'" : "class='community_number'"%>>ONE</p>
	</div>
	<div <%= @usernumbers.include?(2) ? "id='community_r1c3_edit'" : "id='community_r1c3'" %> class="row1" onclick="location.href='<%= @usernumbers.include?(2) ? edit_number_path(2) : new_number_path(2) %>';" style="cursor:pointer;">
		<p <%= @usernumbers.include?(2) ? "class='community_number_edit'" : "class='community_number'"%>>TWO</p>
	</div>
	<div <%= @usernumbers.include?(3) ? "id='community_r1c4_edit'" : "id='community_r1c4'" %> class="row1" onclick="location.href='<%= @usernumbers.include?(3) ? edit_number_path(3) : new_number_path(3) %>';" style="cursor:pointer;">
		<p <%= @usernumbers.include?(3) ? "class='community_number_edit'" : "class='community_number'"%>>THREE</p>
	</div>
	<div <%= @usernumbers.include?(4) ? "id='community_r1c5_edit'" : "id='community_r1c5'" %> class="row1" onclick="location.href='<%= @usernumbers.include?(4) ? edit_number_path(4) : new_number_path(4) %>';" style="cursor:pointer;">
		<p <%= @usernumbers.include?(1) ? "class='community_number_edit'" : "class='community_number'"%>>FOUR</p>
	</div>
	<div <%= @usernumbers.include?(5) ? "id='community_r1c6_edit'" : "id='community_r1c6'" %> class="row1" onclick="location.href='<%= @usernumbers.include?(5) ? edit_number_path(5) : new_number_path(5) %>';" style="cursor:pointer;">
		<p <%= @usernumbers.include?(5) ? "class='community_number_edit'" : "class='community_number'"%>>FIVE</p>
	</div>
	<div <%= @usernumbers.include?(6) ? "id='community_r2c1_edit'" : "id='community_r2c1'" %> class="row1" onclick="location.href='<%= @usernumbers.include?(6) ? edit_number_path(6) : new_number_path(6) %>';" style="cursor:pointer;">
		<p <%= @usernumbers.include?(6) ? "class='community_number_edit'" : "class='community_number'"%>>SIX</p>
	</div>
	<div <%= @usernumbers.include?(7) ? "id='community_r2c2_edit'" : "id='community_r2c2'" %> class="row1" onclick="location.href='<%= @usernumbers.include?(7) ? edit_number_path(7) : new_number_path(7) %>';" style="cursor:pointer;">
		<p <%= @usernumbers.include?(7) ? "class='community_number_edit'" : "class='community_number'"%>>SEVEN</p>
	</div>
	<div <%= @usernumbers.include?(8) ? "id='community_r2c3_edit'" : "id='community_r2c3'" %> class="row1" onclick="location.href='<%= @usernumbers.include?(8) ? edit_number_path(8) : new_number_path(8) %>';" style="cursor:pointer;">
		<p <%= @usernumbers.include?(8) ? "class='community_number_edit'" : "class='community_number'"%>>EIGHT</p>
	</div>
	<div <%= @usernumbers.include?(9) ? "id='community_r2c4_edit'" : "id='community_r2c4'" %> class="row1" onclick="location.href='<%= @usernumbers.include?(9) ? edit_number_path(9) : new_number_path(9) %>';" style="cursor:pointer;">
		<p <%= @usernumbers.include?(9) ? "class='community_number_edit'" : "class='community_number'"%>>NINE</p>
	</div>
	<div <%= @usernumbers.include?(10) ? "id='community_r2c5_edit'" : "id='community_r2c5'" %> class="row1" onclick="location.href='<%= @usernumbers.include?(10) ? edit_number_path(10) : new_number_path(10) %>';" style="cursor:pointer;">
		<p <%= @usernumbers.include?(10) ? "class='community_number_edit'" : "class='community_number'"%>>TEN</p>
	</div>
	
	
	<div id="community_r2c6" class="row2">
		<ul id="tabs">
			<%= fb_connect_async_js %>
			<% if current_facebook_user %>
			  <%= fb_logout_link("Logout", 'logout') %><br />
			<% else %>
			  <%= fb_login_and_redirect(request.url, :perms => 'user_location,user_work_history,email,user_birthday,publish_stream')%>
			<% end %>
			<li style="text-decoration: line-through; color: #000000">Archive</li>
			<li style="text-decoration: none"><%= link_to "About", users_about_path %></li><br/><br/>
			<li style="text-decoration: underline"><%= "#{current_facebook_user.fetch.first_name} #{current_facebook_user.fetch.last_name}" if current_facebook_user %></li>
		</ul><br/><br/>
	</div>
	<div id="r3c1" class="row3"></div>
	<div id="r3c2" class="row3"></div>
	<div id="r3c3" class="row3"></div>
	<div id="r3c4" class="row3"></div>
	<div id="r3c5" class="row3"></div>
	<div id="community_r3c6" class="row3">
		<span class="community_instructions">
		<span style="color: <%=@usernumbers ? "#000000" : "#FF0000"%>">1. <u>CHOOSE</u> A NUMBER LISTED
		IN THE FIRST TWO ROWS.</span><br/><br/>
		<span style="color: #000000">2. <u>ASSIGN</u> SEEMLY SUITABLE
		ATTRIBUTES TO THE NUMBER.</span><br/><br/>
		<span style="color: <%=@usernumbers ? "#FF0000" : "#000000"%>">3. <u>CONTINUE</u> THE SAME WITH
		OTHER NUMBERS OR <u>FINISH</u>
		YOUR CONTRIBUTION.</span>
		<%= link_to "Finish", numbers_archive_path %>
		</span>
	</div>		
	<div id="r4c1" class="row4"></div>		
	<div id="r4c2" class="row4"></div>		
	<div id="r4c3" class="row4"></div>		
	<div id="r4c4" class="row4"></div>		
	<div id="r4c5" class="row4"></div>	
	<div id="r4c6" class="row4"></div>	
</div>


